*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;

}
body{
    background:white;
}
.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg,#bd92b4,#590747);
    color:#fff;
    margin: 100px auto 0;
    border-radius:40px;
    padding:40px 35px;
    text-align:center;
}
.search {
    width: 100%;
    display:flex;
    align-items: center;
    padding:10px 25px;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    background:#f3f8f7;
    color:#494646;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}
.search button{
    border:0;
    outline:0;
    background:#fafcfc;
    border-radius:50%;
    width:70px;
    height:60px;
    cursor:pointer;


}
.search button img{
    width:50px;
    border-radius: 50px;
}
.weather-icon{

    width:170px;
    margin-top:30px;
    background: none;

}
.weather h1{
    font-size:80px;
    font-weight:500;
}
.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top:-10px;
}
.details{
    display:flex;
    align-items: center;
    padding:0px 25px;
    justify-content: space-between;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
   
}
.col img{
    width:50px;
    margin-right: 10px;
    border-radius: 20px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top:-6px;
}
.weather{
    display:none;
}
.error{
    text-align: left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display:none;
}